


.home-nav {
    background-image: url(https://th.bing.com/th/id/R.a6dca6f211cdb13c6bfc9c1fe91a34c5?rik=ltbAp7fVp%2fofbA&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%; 
    background-attachment: fixed;
    background-size: cover;
}

.inline {
    display: inline-flex;
    padding: 10px
}
.margin {
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    padding: 5px;
}

.conteiner-div {
    background-color: rgb(220, 198, 157);
    border-radius: 10px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 20px;
    display: grid;
    /* grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;  */
    padding: 10px;
    /* column-gap: 50px;
    row-gap: 50px; */
    max-width: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
}

.div-recipe {
  padding: 20px;
  text-align: center;
}

.btn-home {
    padding: 9px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgb(234, 120, 85);
}

.btn-info {
    margin-top: 10px;
    padding: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: rgb(220, 198, 157);
}